<script setup>
import axios from 'axios';
import { onMounted, ref } from 'vue';
import axiosConfig from '../js/axiosConfig';
import { useUserStore } from '../stores/usuarioStore';
import { storeToRefs } from 'pinia';

//Emits

const emit = defineEmits(['update:Nota']);

//State
const userStore = useUserStore();
let { datosUsuario } = storeToRefs(userStore);

let clienteAxios = axios.create();

//Reactivas
let titulo = ref('');
let descripcion = ref('');
let fotografia = ref('');
let notaAgregada = ref({});
let urlAgregarNota = '/api/Nota/AgregarNota';

let mostrarAlerta = ref(false);

//Funciones
onMounted(() => {});

function agregarNota() {
  axiosConfig.url = urlAgregarNota;
  axiosConfig.method = 'post';
  axiosConfig.data = {
    titulo: titulo.value,
    descripcion: descripcion.value,
    //fotografia: fotografia.value,
    fkUsuario: datosUsuario.value['idRegistro']
  };

  clienteAxios
    .request(axiosConfig)
    .then((response) => {
      notaAgregada.value = response['data'];
      emit('update:Nota'); //Emite un evento para refrescar la lista de las notas
      mostrarAlerta.value = true;
      titulo.value = '';
      descripcion.value = '';
      fotografia.value = '';
      setTimeout(() => {
        mostrarAlerta.value = false;
      }, 3000);
    })
    .catch((error) => {
      console.log(error);
    });
}
</script>
<template>
  <div v-if="datosUsuario['tipoUsuario'] == 'INTERNO'" class="row mt-3">
    <div class="col-12 px-3">
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal">Crear nota   +</button>
    </div>
  </div>

  <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Crea una nueva nota</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <div v-if="mostrarAlerta" class="alert alert-success">Nota agregada correctamente!</div>
            </div>
          </div>
          <form>
            <div class="row">
              <div class="col-12 mb-2">
                <label for="formControlInput1" class="form-label">Titulo</label>
                <input v-model="titulo" type="text" class="form-control" id="formControlInput1" placeholder="Ingresa un título..." />
              </div>
              <div class="col-12 mb-2">
                <label for="formControlTextarea1" class="form-label">Descripción</label>
                <textarea
                  v-model="descripcion"
                  class="form-control"
                  id="formControlTextarea1"
                  rows="3"
                  placeholder="Agrega el cuerpo de la noticia..."
                ></textarea>
              </div>
              <div class="col-12 mb-2">
                <label for="formControl2" class="form-label" >Imágenes</label>
                <input
                  type="file"
                  accept="image/png, image/jpeg"
                  class="form-control"
                  id="formControl2"
                  placeholder="Ingresa una fotografía..."
                  disabled
                />
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button @click="agregarNota()" type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</template>
