<script setup>
import axios from 'axios';
import { onMounted, ref, watch } from 'vue';
import axiosConfig from '../js/axiosConfig';
import {useUserStore} from '../stores/usuarioStore'
import { storeToRefs } from 'pinia';

let clienteAxios = axios.create();

//State
const userStore = useUserStore();
let {datosUsuario} = storeToRefs(userStore)

let idUsuario = ref(0);
let listaDeUsuarios = ref([]);
let urlUsuarios = '/api/Usuario/DevolverUsuariosRegistrados';
let urlUsuarioPorId = '/api/Usuario/DevolverUsuarioPorId';

onMounted(() => {
  listarUsuarios();
});

function listarUsuarios() {
  axiosConfig.url = urlUsuarios;
  axiosConfig.method = 'get';
  axiosConfig.params = {};
  axiosConfig.data = {};

  clienteAxios
    .request(axiosConfig)
    .then((response) => {
      listaDeUsuarios.value = response['data'];
    })
    .catch((error) => {});
}

function devolverUsuarioPorId(usuarioId) {
  axiosConfig.url = urlUsuarioPorId;
  axiosConfig.method = 'get';
  axiosConfig.params = {
    usuarioId
  };
  axiosConfig.data = {};

  clienteAxios
    .request(axiosConfig)
    .then((response) => {
      datosUsuario.value = response['data'];

    })
    .catch((error) => {});
}

watch(idUsuario, (actual, previo) => {
  devolverUsuarioPorId(actual);
  datosUsuario.value = actual;
});
</script>
<template>
  <div class="row">
    <div class="col-12 mb-2">
      <label for="">Seleccione un usuario para simular un login</label>
      <select v-model="idUsuario" class="form-select">
        <option selected value="0">Seleccione...</option>
        <option v-for="usuario in listaDeUsuarios" :key="usuario['idRegistro']" :value="usuario['idRegistro']">
          {{ `${usuario['nombre']} ${usuario['apellidoPaterno']} ${usuario['apellidoMaterno']}` }}
        </option>
      </select>
    </div>
  </div>
  <div v-if="idUsuario > 0" class="row">
    <div class="col-4 mb-2">
      <label for="idusuario" class="form-label">ID de usuario</label>
      <input :value="datosUsuario['idUsuario']"  type="number" class="form-control" id="idusuario" placeholder="ID..." readonly disabled />
    </div>
    <div class="col-8 mb-2">
      <label for="tipoUsuario" class="form-label">Tipo de usuario</label>
      <input :value="datosUsuario['tipoUsuario']" type="text" class="form-control" id="tipoUsuario" placeholder="Tipo..." readonly disabled>
    </div>
  </div>
</template>
