<script setup>
import ListaDeComentarios from './ListaDeComentarios.vue';
import axios from 'axios';
import { onMounted, ref, toRefs, watch } from 'vue';
import axiosConfig from '../js/axiosConfig';
import { useUserStore } from '../stores/usuarioStore';
import { storeToRefs } from 'pinia';

const props = defineProps(['actualizarLista']);

//State
const userStore = useUserStore();
let { datosUsuario } = storeToRefs(userStore);

let clienteAxios = axios.create();

let { actualizarLista } = toRefs(props);

let idNota = ref(0);
let listaDeNotas = ref([]);
let urlNotas = '/api/Nota/ListarNotas';

onMounted(() => {
  listarNotas();
});

function listarNotas() {
  axiosConfig.url = urlNotas;
  axiosConfig.method = 'get';
  axiosConfig.params = {};
  axiosConfig.data = {};

  clienteAxios
    .request(axiosConfig)
    .then((response) => {
      listaDeNotas.value = response['data'];
    })
    .catch((error) => {
      console.log(error);
    });
}

watch(actualizarLista, (actual, previo) => {
  listarNotas();
});

function mostrarComentarios(notaId) {
  idNota.value = notaId;
}
</script>
<template>
  <div v-if="datosUsuario['idRegistro']" class="row mt-4">
    <div v-for="nota in listaDeNotas" class="col-12 col-md-6 col-lg-4">
      <div class="card shadow-sm m-2">
        <div class="card-header bg-light">
          <h5 class="card-title">{{ nota['titulo'] }}</h5>
        </div>
        <div class="card-body">
          <p class="card-text">{{ nota['descripcion'] }}</p>
          <div class="text-end">
            <span class="text-muted" style="font-size: 7pt">Por: {{ nota['nombreUsuario'] }}</span>
          </div>
          <a
            @click="mostrarComentarios(nota['idNota'])"
            class="btn btn-light text-primary fs-6"
            data-bs-toggle="modal"
            data-bs-target="#modalDeComentarios"
            >Ver comentarios</a
          >
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="modalDeComentarios"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Comentarios</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ListaDeComentarios :id-nota="idNota"></ListaDeComentarios>
        </div>
      </div>
    </div>
  </div>
</template>
