<script setup>
import ListaDeRespuestas from './ListaDeRespuestas.vue';
import axios from 'axios';
import { onMounted, ref, toRefs, watch } from 'vue';
import axiosConfig from '../js/axiosConfig';
import { useUserStore } from '../stores/usuarioStore';
import { storeToRefs } from 'pinia';

const props = defineProps(['idNota']);

//State
const userStore = useUserStore();
let { datosUsuario } = storeToRefs(userStore);

let clienteAxios = axios.create();

let { idNota } = toRefs(props);

let indexDeRespuestas = ref(0);
let idComentario = ref(0);
let mostrarRespuestas = ref(false);
let textoComentario = ref('');
let listaDeComentarios = ref([]);
let urlComentarios = '/api/Comentario/ListarComentariosPorNota';
let urlAgregarComentario = '/api/Comentario/AgregarComentario';

onMounted(() => {
  listarComentarios();
});

function agregarComentario() {
  if (textoComentario.value === '') return;
  axiosConfig.url = urlAgregarComentario;
  axiosConfig.method = 'post';
  axiosConfig.params = {};
  axiosConfig.data = {
    fkUsuario: datosUsuario.value['idRegistro'],
    fkNota: idNota.value,
    texto: textoComentario.value,
    fechaComentario: '1999-01-01'
  };

  clienteAxios
    .request(axiosConfig)
    .then((response) => {
      listarComentarios(idNota.value);
      textoComentario.value = '';
    })
    .catch((error) => {
      console.log(error);
    });
}

function listarComentarios(notaId) {
  axiosConfig.url = urlComentarios;
  axiosConfig.method = 'get';
  axiosConfig.params = {
    notaId
  };
  axiosConfig.data = {};

  clienteAxios
    .request(axiosConfig)
    .then((response) => {
      listaDeComentarios.value = response['data'];
    })
    .catch((error) => {
      console.log(error);
    });
}

function mostrarListaDeRespuestas(comentarioId, index) {
  mostrarRespuestas.value = !mostrarRespuestas.value;
  idComentario.value = comentarioId;
  indexDeRespuestas.value = index;
}

watch(idNota, (actual, previo) => {
  listarComentarios(actual);
});
</script>
<template>
  <form @submit.prevent="agregarComentario()">
    <div class="row">
      <div class="col-10">
        <input v-model.lazy="textoComentario" type="text" class="form-control" id="formControl1" placeholder="Ingresa un comentario..." />
      </div>
      <div class="col-2">
        <button type="submit" class="btn btn-primary">Enviar</button>
      </div>
    </div>
  </form>

  <div class="row mt-2">
    <div v-for="(comentario,index) in listaDeComentarios" :key="comentario['idComentario']" class="col-12">
      <div class="card shadow-sm my-2">
        <div class="card-body">
          <div>
            <span class="text-primary">{{ comentario['nombreUsuario'] }}</span>
            <p>{{ comentario['texto'] }}</p>
          </div>
          <div class="text-end">
            <span class="text-muted" style="font-size: smaller">{{ comentario['fechaComentario'] }}</span>
            <p class="text-muted" style="font-size: smaller">({{ comentario['tipoUsuario'] }})</p>
          </div>
          <div class="row">
            <div class="col-12">
              <button v-if="mostrarRespuestas && indexDeRespuestas == index" @click="mostrarListaDeRespuestas(comentario['idComentario'], index)" type="button" class="btn btn-danger"> Ocultar respuestas...</button>
              <button v-else @click="mostrarListaDeRespuestas(comentario['idComentario'], index)" type="button" class="btn btn-success"> Ver respuestas...</button>
              <ListaDeRespuestas
                v-if="mostrarRespuestas && indexDeRespuestas == index"
                :id-comentario="idComentario"
                :key="comentario['idComentario']"
              ></ListaDeRespuestas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
