<script setup>
import axios from 'axios';
import { onMounted, ref, toRefs, watch } from 'vue';
import axiosConfig from '../js/axiosConfig';
import { useUserStore } from '../stores/usuarioStore';
import { storeToRefs } from 'pinia';

const props = defineProps(['idComentario']);

//State
const userStore = useUserStore();
let { datosUsuario } = storeToRefs(userStore);

let clienteAxios = axios.create();

let { idComentario } = toRefs(props);

let textoRespuesta = ref('');
let listaDeRespuestas = ref([]);
let urlRespuestas = '/api/Respuesta/ListarRespuestasPorComentario';
let urlAgregarRespuestas = '/api/Respuesta/AgregarRespuesta';

onMounted(() => {
  listarRespuestas(idComentario.value);
});

function agregarRespuesta() {
  console.log(datosUsuario.value['idRegistro']);
  if (textoRespuesta.value === '') return;
  axiosConfig.url = urlAgregarRespuestas;
  axiosConfig.method = 'post';
  axiosConfig.params = {};
  axiosConfig.data = {
    fkUsuario: datosUsuario.value['idRegistro'],
    fkComentario: idComentario.value,
    texto: textoRespuesta.value,
    fechaRespuesta: '1999-01-01'
  };

  clienteAxios
    .request(axiosConfig)
    .then((response) => {
      listarRespuestas(idComentario.value);
      textoRespuesta.value = '';
    })
    .catch((error) => {
      console.log(error);
    });
}

function listarRespuestas(comentarioId) {
  axiosConfig.url = urlRespuestas;
  axiosConfig.method = 'get';
  axiosConfig.params = {
    comentarioId
  };
  axiosConfig.data = {};

  clienteAxios
    .request(axiosConfig)
    .then((response) => {
      listaDeRespuestas.value = response['data'];
    })
    .catch((error) => {
      console.log(error);
    });
}

watch(idComentario, (actual, previo) => {
  listarRespuestas(actual);
});
</script>
<template>
  <form @submit.prevent="agregarRespuesta()">
    <div class="row my-2">
      <div class="col-8">
        <input v-model.lazy="textoRespuesta" type="text" class="form-control" id="formControlRespuesta" placeholder="Ingresa una respuesta..." />
      </div>
      <div class="col-2">
        <button type="submit" class="btn btn-primary">Responder</button>
      </div>
    </div>
  </form>

  <div v-if="datosUsuario" class="row mt-2">
    <span class="fs-5 text-muted fw-bold">Respuestas ({{ listaDeRespuestas.length }})</span>
    <div v-for="respuesta in listaDeRespuestas" class="col-12">
      <div class="card shadow-sm my-2">
        <div class="card-body">
          <div>
            <span class="text-primary">{{ respuesta['nombreUsuario'] }}</span>
            <p>{{ respuesta['texto'] }}</p>
          </div>
          <div class="text-end">
            <span class="text-muted" style="font-size: smaller">{{ respuesta['fechaRespuesta'] }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
