<script setup>
import { ref } from 'vue';
import ListaDeNotas from '../ListaDeNotas.vue';
import CapturaDeNota from '../CapturaDeNota.vue';
import ListaDeUsuarios from '../ListaDeUsuarios.vue';

let actualizarLista = ref(false);

function actualizarListaDeNotas() {
  actualizarLista.value = true;
}
</script>
<template>
  <nav class="navbar bg-primary shadow">
    <div class="container-fluid">
      <a class="navbar-brand text-light fs-3" href="#"> Notas </a>
    </div>
  </nav>
  <div class="container mt-4">
    <ListaDeUsuarios></ListaDeUsuarios>
    <CapturaDeNota @update:Nota="actualizarListaDeNotas"></CapturaDeNota>
    <ListaDeNotas :actualizar-lista="actualizarLista"></ListaDeNotas>
  </div>
</template>
